<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        <h2>Создание новой темы</h2>
        <form method="POST" enctype="multipart/form-data">
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
        
            <input name="name" type="text" placeholder="Name..." required>

            <button type="submit">Создать</button>
        </form>
    </body>
</html>